{% extends 'base.html.twig' %}

{% block title %}Marvel List{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .div-btn {
            margin-bottom: 20px;
        }

        .btn-update {
            display: block;
            margin-left: auto;
            margin-right: 20px;
        }
    </style>

    <div class="example-wrapper">
        <div class="row div-btn">
            <a class="btn btn-primary btn-update" href="{{ path('marvel_import') }}" disabled="true">Import list</a>
        </div>
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table" width="100%">
                <thead>
                <tr>
                    <th class="th-md" style="width: 200px">Name</th>
                    <th class="th-md" style="width: 280px">Picture</th>
                    <th class="th-md" style="width: 200px">Created At</th>
                </tr>
                </thead>
                <tbody>
                {% for character in characters %}
                    <tr>
                        <th>
                            {{ character.name }}
                        </th>
                        <th>
                            <img src="{{ character.pictureUrl }}/portrait_xlarge.{{ character.pictureType }}">
                        </th>
                        <th>
                            {{ character.createdAt|date('Y-m-d h:m') }}
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
                {{ knp_pagination_render(characters) }}
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Disabled import button onclick
        $('.btn-update').on('click', function(e) {
            $(this).css("pointer-events",'none');
            $(this).css("cursor",'default');
        });
    </script>
{% endblock %}